<!--<i class="icon ion-android-arrow-back" ></i> -->
<ion-view view-title="Post">
  <ion-nav-bar class="bar-dark">  
      <ion-nav-buttons side="right">
    <a style="text-decoration: none" href="#/tabs/dash"> <h1> <i class="icon ion-android-arrow-back"></i></h1> </a>

        <!--<button ng-click="openPopover($event)"  class="button button-icon icon ion-plus-circled"></button>
        <button class="button button-icon ion-more" ng-click="popover.show($event)">
        </button>-->
      </ion-nav-buttons>    
  </ion-nav-bar>
  <div ng-show="loading" style="text-align: center; margin-top: 30vh;"><ion-spinner icon="android"></ion-spinner>
	</div>
  <ion-content class="padding"  ng-show="!loading">

  <h2 ng-bind-html="post.title"></h2>
  <p ng-bind-html="post.content"></p>
  </ion-content>
</ion-view>